tf-nightly     # TODO: Check for unnecessary logging clutter
pandas
polars
# matplotlib        # Weird Errors (Can be downloaded later by the user)
plotly
ipykernel
pillow
opencv-python
PyQt5
Flask